.header {
	width: 100%;
	text-align: center;
	border: 5px black solid;
	color: yellow;
}

.headerDivider {
	width: 100%;
	color: yellow;
}

.gameBox {
	border-top: 0;
	border: 3px black solid;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	color: yellow;
}

body {
	background: url("background-diamond-plate.jpg");
}

